/* Estilo geral */
body {
    margin: 0;
    padding: 0;
    background-color: #4600af;
}

header {
    background-color: darkolivegreen;
    height: 12vh;
}

section {
    display: flex;
    justify-content: space-between;
}

img{
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 2px black solid;
    border-radius: 25%;
}

a:before {
    content: "";
    display: inline-block;
    background-color: darkgoldenrod;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

ul {
    margin: 10px;
    list-style: none;
    display: flex;
}

li {
    margin: 10px;
    padding: 5px;
}

a {
    font-family: 'Fira Code';
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
    margin-right: 10px;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    color: yellowgreen;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

#bt {
    font-family: 'Fira Code';
    font-size: 20px;
    background-color: darkgrey;
    border: 3px black solid;
    border-radius: 8%;
}

#bt:hover {
    font-weight: bold;
    background-color: rgba(169, 169, 169, 0.5);
    cursor: pointer;
}