@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

body, html {
    background-color: gray;
}

header {
    background-color: darkgray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

nav {
    display: block;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(153, 205, 50, 0.5);
    color: white;
    border-top: 2px solid green;
}

nav > ul > li a:hover {
    background-color: green;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: center;
    margin-bottom: 20px;
    text-indent: 10px;
}