@font-face {
    font-family: 'russo';
    src: url('russo_one.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: linear-gradient(to left, purple, deepskyblue);
}
header{
    background-image: linear-gradient(to left, purple, deepskyblue);
    padding: 20px 0;
}
footer{
    text-align: center;
    margin: 10px;
}
nav li{
    display: inline;
    margin: 20px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover{
    color: aqua;
    font-size: 24px;
    text-decoration: overline;
}
.logo{
    width: 50%;
    margin: auto;
    border: 20px;
    padding: 10px;
}
.game{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
.principal{
    width: 80%;
    margin: auto;
    border: 5px dashed black;
    text-align: center;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
.mapa{
    font-family: 'russo', 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
.banner{
    text-align: center;
    margin: 10px auto 10px auto;
    width: 80%;
    height: 20%;
}
.bene{
    position: relative;
    left: 40%;
    width: fit-content;
    font-size: 26px;
    padding: 10px;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
.fim{
    text-align: right;
    float: right;
}
#menu1{
    position: absolute;
    top: 15%;
    left: 80px;
    width: 30%;
}
#menu2{
    position: absolute;
    top: 15%;
    right: 50px;
    width: 30%;
}
p#criador{
    font-size: 24px;
    text-align: center;
    margin: 0 10% 0 10%;
    padding: 10px;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
p#historia{
    font-size: 26px;
    text-align: justify;
    margin: auto;
    padding: 10px;
}
p#fim{
    color: white;
}
.games{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
div#div1{
    background-color: purple;
    border: 2px solid deepskyblue;
    border-radius: 8px;
    margin: 5px;
    width: 30%;
    height: 500px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
div#div2{
    background-color: purple;
    border: 2px solid deepskyblue;
    border-radius: 8px;
    margin: 5px;
    width: 30%;
    height: 500px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
div#div3{
    background-color: purple;
    border: 2px solid deepskyblue;
    border-radius: 8px;
    margin: 5px;
    width: 30%;
    height: 500px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
#div1:hover{
    background-color: deepskyblue;
    color: black;
    text-decoration: overline;
}
#div2:hover{
    background-color: deepskyblue;
    color: black;
    text-decoration: overline;
}
#div3:hover{
    background-color: deepskyblue;
    color: black;
    text-decoration: overline;
}
#div1::after{
    background-color: purple;
    color: white;
    border-color: purple;
}
#div2::after{
    background-color: purple;
    color: white;
    border-color: purple;
}
#div2::after{
    background-color: purple;
    color: white;
    border-color: purple;
}
.formu{
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 5px dashed black;
    text-align: center;
    font-family: 'russo', 'Times New Roman', Times, serif;
    font-size: x-large;
}
.formu label, input{
    width: 75%;
}
.prefe{
    text-align: left;
    width: 45%;
    font-size: 20px;
    font-family: 'russo', 'Times New Roman', Times, serif;
}
.prefe input{
    margin: 0;
    width: fit-content;
}
.bot{
    width: fit-content;
    background-color: purple;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'russo', 'Times New Roman', Times, serif;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bot:hover {
    background-color: deepskyblue;
    transform: scale(1.05);
}